section.header
                input(type="checkbox" id="menu" class="menu")
                label(for="menu" class="btn-menu")
                    i(class="uil uil-list-ui-alt")
                span.header-logo Easy ToDo
                .header-content
                    button(class="todo-add-plus" id="addTodo")
                        i(class="uil uil-plus-circle")
                    button.header-exit
                        i(class="uil uil-sign-out-alt")
                    //- button.header-search
                    //-     img(src="../svg/header/search-icon.svg", alt="")