@media (max-width: 768px) {
    .content {
        .content-menu {
            position: absolute;
            z-index: 2;
            left: -320px;
            width: 0px;
        }
        .content-todo {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}