@import "nullstyle";
@import "variable";

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}

.menu-tabs-icon {
    width: 100%;
    max-height: 25px;
    height: 100%;
    fill: #8D8D8D;
}
 
.container {
    width: 100%;
}

.hide {
    display: none;
}

.singin {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #ffffff url("../img/background/bg_1.jpg") bottom no-repeat;
    background-size: cover;
    padding: 0 15px;
    filter: opacity(80%);
    border: 1px solid #000000;

    .singin-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        padding: 60px 0;
        background: #ffffff;
        border-radius: 4px;

        .singin-btn {
            height: 50px;
            border: solid 1px #C4C4C4;
            background: #ffffff;
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: 800;
            padding: 0 20px;

            img {
                margin-left: 15px;
            }
        }
    }
}

.header {
    position: sticky;
    top: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: #65AAE6;
    padding: 0 16px;

    .header-logo {
        color: #ffffff;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
    }

    .header-exit {
        display: flex;
        align-items: center;
        background: transparent;
        height: 48px;
        font-weight: 500;
        color: #ffffff;

        svg {
            width: 28px;
            height: 100%;
        }
    }

    .header-search {
        width: 23px;
        background: none;
    }
}

.content {
    display: none;
    width: 100%;
    height: calc(100vh - 70px);
    background: url("../img/background/bg_1.jpg") bottom no-repeat;
    background-size: cover;

    .content-menu {
        background-color: #ffffff;
        width: 410px;
        height: 100%;

        .menu-profile {
            display: flex;
            align-items: center;
            height: 92px;
            border-bottom: 1px solid #C4C4C4;
            padding: 23px;

            .profile-avatar {
                background:url('../img/avatar/IMG_20200624_195218_761.jpg') center no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .profile-name {
                font-size: 20px;
                line-height: 28px;
                color: #2F2F2F;
                margin-left:  22px;
            }
        }
    }

    .menu-tabs {
        display: flex;
        align-items: center;
        height: 58px;
        width: 100%;
        padding-left: 23px;
        background: #ffffff;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
        transition: background .4s linear;
    
    &:hover {
        background: #65AAE6;
        opacity: 0.7;
        color: #ffffff;

        .menu-tabs-icon {
            fill: #ffffff;
        }
    }

    &.tab-active {
        cursor: default;
        opacity: 1;
        background-color: #65AAE6;
        color: #ffffff;

        .menu-tabs-icon {
            fill: #ffffff;
        }
    }

        .menu-tabs-img {
            width: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & span {
            margin-left: 24px;
        }
    }

    .content-todo {
        overflow: auto;
        width: 100%;
        height: 100%;
        padding: 21px;

        .todo-add {
            display: flex;
            align-items: center;
            width: 100%;
            height: 58px;
            background: #C4C4C4;
            border-radius: 4px;
            margin-bottom: 21px;

            .todo-add-plus {
                background: #C4C4C4;
                font-size: 28px;
                color: #1E1E1E;
                margin: 0 23px 0 19px;
            }

            .todo-add-input {
                width: 100%;
                background: #C4C4C4;
                border-radius: 4px;
                color: #1E1E1E;
                font-size: 16px;
                line-height: 28px;

                &::placeholder {
                    color: #1E1E1E;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }

        .todo-list {
            width: 100%;

            .todo-block-task {
                display: flex;
                align-items: center;
                width: 100%;
                height: 58px;
                background: #ffffff;
                border: 1px solid #C4C4C4;
                border-radius: 4px;
                padding-left: 19px;
                margin-bottom: 3px;

                .todo-btn-ok {
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                }

                .todo-btn-ok+label {
                    cursor: pointer;
                    display: inline-flex;
                    align-items: center;
                    user-select: none;
                }

                .todo-btn-ok+label::before {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    border: 1px solid #C4C4C4;
                    border-radius: 4px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 50% 50%;
                    margin-right: 19px;
                    transition: border-color .2s linear;
                }

                .todo-btn-ok:checked+label::before {
                    border-color: #65AAE6;
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
                }

                .todo-task {
                    width: 100%;
                    font-size: 16px;
                    line-height: 26px;
                    color: #000000;
                }

                .todo-btns {
                    display: flex;

                    .todo-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background: #ffffff;

                        .todo-btn-icon {
                            fill: #DADADA;;
                            width: 24px;
                            height: 24px;
                            transition: fill .2s linear;
                        }

                        .icon-fixed {
                            width: 18px;
                            height: 21px;
                        }
                    }

                    .todo-btn__active {
                        .todo-btn-icon {
                            fill: #65AAE6;
                        }
                    }

                    .btn-delete {
                        position: relative;

                        // &::after {
                        //     content: "";
                        //     position: absolute;
                        //     width: 2px;
                        //     height: 24px;
                        //     background-color: #DADADA;
                        //     transform: rotateZ(-45deg);
                        // }
                        // &::before {
                        //     content: "";
                        //     position: absolute;
                        //     width: 2px;
                        //     height: 24px;
                        //     background-color: #DADADA;
                        //     transform: rotateZ(45deg);
                        // }
                    }
                }
            }
        }
    }
}

@import "media";