<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./assets/css/style.min.css")
        title Easy ToDo
    body
        include ./blocks/sprite.pug
        
        .container

            section.singin
                .singin-block
                    button(class="singin-btn") Войти через Google
                        img(src="https://d3ptyyxy2at9ui.cloudfront.net/google-41de20.svg", alt="")

            section.header
                input(type="checkbox" id="menu" class="menu")
                label(for="menu" class="btn-menu")
                    svg.btn-menu-icon
                        use(xlink:href="#menuIcon")
                span.header-logo Easy To Do
                .header-content
                    button(class="todo-add-plus" id="addTodo")
                        svg.header-plus
                            use(xlink:href="#plus")
                    button.header-exit
                        svg
                            use(xlink:href="#exit")
                    //- button.header-search
                    //-     img(src="../svg/header/search-icon.svg", alt="")
                
            section.content
                menu.content-menu
                    .menu-profile
                        div(id="avatar" class="profile-avatar")
                        span(class="profile-name" id="name") Valeriy
                    button(class="menu-tabs menu-incoming tab-active" id="btn-tabs" data-name-tab="incoming")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#incoming")
                        span Входящие
                    button(class="menu-tabs menu-favorites" id="btn-tabs" data-name-tab="favorites")
                        .menu-tabs-img
                            svg(class="menu-tabs-icon icon__favorite")
                                use(xlink:href="#favorites")
                        span Избраное
                    button(class="menu-tabs menu-fixed" id="btn-tabs" data-name-tab="fixed")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#fixed")
                        span Закрепленое
                    //button(class="menu-tabs menu-calendary" id="btn-tabs" data-name-tab="calendary")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#calendary")
                        span Календарь
                    button(class="menu-tabs menu-fonder" id="btn-tabs" data-name-tab="folder")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#folder")
                        span Папки

                .content-todo
                    div(class="todo-list" id="todoList" data-name-list="incoming")
                    div(class="todo-list" id="todoList" data-name-list="favorites")
                    div(class="todo-list" id="todoList" data-name-list="fixed")
                    //- div(class="todo-list" id="todoList" data-name-list="calendary")
                    div(class="todo-list" id="todoList" data-name-list="folder")

            section.popup
                .popup-add-todo
                    .todo-add-body
                        span.add-todo-title Добавить новую задачу
                    .todo-add
                        input(type="text" id="todoValue" name="text-todo" class="todo-add-input" placeholder="напр., Семейный обед в воскресенье")
                    button Добавить задачу
                .popup-edit-todo
                    .todo-edit
                        input(type="text" id="editValue" name="text-todo" class="todo-edit-input")
                    div(class="popup-todo-btns")
                        button Cохранить
                        .todo-btns
                            button(class="todo-btn" id="btnFixedEdit")
                                svg(class="todo-btn-icon icon-fixed")
                                    use(xlink:href="#fixed")
                            button(class="todo-btn" id="btnFavoriteEdit")
                                svg(class="todo-btn-icon icon__favorite")
                                    use(xlink:href="#favorites")


        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js")
        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js")
        script(src="./assets/js/index.js")