<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./assets/css/style.min.css")
        title Easy ToDo
    body
        include ./blocks/sprite.pug
        
        .container
            include  ./components/singin.pug
            include ./components/header.pug

            
                
            section.content
                menu.content-menu
                    .menu-profile
                        div(id="avatar" class="profile-avatar")
                        span(class="profile-name" id="name") Valeriy
                    button(class="menu-tabs menu-incoming tab-active" id="btn-tabs" data-name-tab="incoming")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#incoming")
                        span Входящие
                    button(class="menu-tabs menu-favorites" id="btn-tabs" data-name-tab="favorites")
                        .menu-tabs-img
                            svg(class="menu-tabs-icon icon__favorite")
                                use(xlink:href="#favorites")
                        span Избраное
                    button(class="menu-tabs menu-fixed" id="btn-tabs" data-name-tab="fixed")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#fixed")
                        span Закрепленое
                    //button(class="menu-tabs menu-calendary" id="btn-tabs" data-name-tab="calendary")
                        .menu-tabs-img
                            svg.menu-tabs-icon
                                use(xlink:href="#calendary")
                        span Календарь
                    //- button(style="display: none;" class="menu-tabs menu-fonder" id="btn-tabs" data-name-tab="folder")
                    //-     .menu-tabs-img
                    //-         svg.menu-tabs-icon
                    //-             use(xlink:href="#folder")
                    //-     span Папки
                    //- div.folder
                    //-     span(class="btn" id="btnAddFolder") +
                    //-     div.folder-block
                    //-     span folder 1

                .content-todo
                    div(class="todo-list" id="todoList" data-name-list="incoming")
                    div(class="todo-list" id="todoList" data-name-list="favorites")
                    div(class="todo-list" id="todoList" data-name-list="fixed")
                    //- div(class="todo-list" id="todoList" data-name-list="calendary")
                    div(class="todo-list" id="todoList" data-name-list="folder")

            section.popup
                .popup-add-todo
                    .todo-add-body
                        span.add-todo-title Добавить новую задачу
                    .todo-add
                        input(type="text" id="todoValue" name="text-todo" class="todo-add-input" placeholder="напр., Семейный обед в воскресенье")
                    button(class="btn" id="btnAddTask") Добавить задачу
                    span(style="display: none;" id="showFolderList") Выбрать папку
                    div(class="folder-list")
                .popup-edit-todo
                    .todo-edit
                        input(type="text" id="editValue" name="text-todo" class="todo-edit-input")
                    div(class="popup-todo-btns")
                        button(class="btn" id="btnSave") Cохранить
                        span(style="display: none;" id="showFolderList") Выбрать папку
                        div(class="folder-list")
                        .todo-btns
                            button(class="todo-btn" id="btnFixedEdit")
                                svg(class="todo-btn-icon icon-fixed")
                                    use(xlink:href="#fixed")
                            button(class="todo-btn" id="btnFavoriteEdit")
                                svg(class="todo-btn-icon icon__favorite")
                                    use(xlink:href="#favorites")

                .popup-add-folder
                    .folder-body
                        span.folder-body-title Добавить новую папку
                    .folder-add
                        input(type="text" id="nameFolder" name="text-folder" class="folder-add-input" placeholder="напр., Мой проект")
                    button(class="btn" id="createFolder") Добавить папку


        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js")
        script(src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js")
        script(src="./assets/js/index.js")