section.singin
                .singin-block
                    button(class="singin-btn") Войти через Google
                        img(src="https://d3ptyyxy2at9ui.cloudfront.net/google-41de20.svg", alt="")