html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: $font-main;
  user-select: none;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
